#platform {
    width: 200px;
    height: 350px;
    background-color: rgba(102, 186, 214, 0.95);
    transform: translate(100px) rotateX(55deg) rotateZ(45deg);
    border-radius: 16px;
    box-shadow: 1px 2px 10px rgba(105, 192, 163, 0.95) 24px 24px 24px rgba(105, 192, 163, 0.75);
  }
  #platform:hover {
    box-shadow: 1px 2px 10px rgba(53, 58, 144, 0.95),
      70px 70px 24px rgba(204, 204, 204, 0.15);
  }
  
  #platform p {
  }