/*transitions.css*/

a:link{
    transition: color 0.5s;
}

img{
    opacity: 0.25;
    transition: opacity 500ms;
}

img:hover{
    opacity:  1;
}

figure img{
    position: absolute;
    top: 0;
    left: 0;
}
figure .img1{
    opacity: 1;
}

figure .img2{
    opacity: 0;
}

figure:hover .img2{
    opacity: 1;
}

figure:hover .img1{
    opacity: 0;
}