* {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: grey;
    color: rgb(0, 0, 0);
  }
  
  main article {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  
  main article img {
    width: 100%;
    height: auto;
  }
  
  h3 {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h1 {
    font-family: Arial, Helvetica, sans-serif;
  }
  