/* 2d_transform.css */

#bed, 
#date
#sleepy{
    transition: transform 0.5s;
}

#bed:hover{
    transform: rotate(45deg);
}

#date:hover{
    transform: scale(2);
}

.move-right {
    transform: translateX(900px);
}